body {
    background-color: rgb(189, 223, 211);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 2;
}

h1 {
    font-size: 3rem;
}

#value {
    font-size: 6rem;
}

.btn {
    background-color: transparent;
    color: black;
    padding: 15px;
    border: 2px solid rgb(121, 115, 115);
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}